---
# galaxy.yml for {{ namespace }}.{{ collection_name }}

namespace: "{{ namespace }}"
name: "{{ collection_name }}"
description: ""

version: "0.1.0"

readme: "README.md"
license_file: "LICENSE"

homepage: "https://while-true-do.io"
repository: "https://code.while-true-do.io/ansible/{{ namespace }}.{{ collection_name }}"
documentation: "https://code.while-true-do.io/ansible/{{ namespace }}.{{ collection_name }}"
issues: "https://code.while-true-do.io/ansible/{{ namespace }}.{{ collection_name }}/issues"

authors:
  - "Author1"
  - "Author2 (https://author2.example.com)"
  - "Author3 <author3@example.com>"

tags: []
dependencies: []
...
